/* declaração de varíaveis */
:root {
    --fonte-padrao: 'Syne Mono', monospace;
}

/* nativos */
body {
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: var(--fonte-padrao);
    color: wheat;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-align: center;
}


/* nativos fim */
/* classes */
.box-flex {
    width: 98vw;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.aside-box {
    display: flex;
    justify-content: space-between;
    width: 97vw;
    height: 225px;
    flex-direction: column;
}

.caixa {
    width: 97vw;
    height: 565px;
    font-size: 1.4rem;
    text-align: justify;
    font-family: var(--fonte-padrao);
}

.ball {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

.instrucoes {
    border: 1px solid red;
    color: white;
    background-color: #DA424C;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 196px;
    display: none;
    position: absolute;
    top: 200px;
    left: 40px;
    text-align: center;
    font-family: 'New Tegomin', serif;
}

.button-div {
    display: flex;
    justify-content: center;
}

/* classes fim */
/* ids */
#btn3, #btn4, #roll {
    font-family: var(--fonte-padrao);
    --c: black;
    color: var(--c);
    background-color: #AB2D15;
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    overflow: hidden;
    transition: 0.5s;
    margin: 1em;
    cursor: pointer;
}

#answer {
    color: palegoldenrod;
}

/* ids fim */
/* media query */
@media (min-width: 680px) {
    .aside-box {
        flex-direction: row;
        height: 100px;
    }

    .instrucoes {
        width: 400px;
        height: 250px;
        top: 90px;
        left: 450px;
        
    }
}

/* media query fim */